@model List<BaoTriThietBi.Models.NVBTModel>

@{

}

<h2>Danh sách thiết bị của nhân viên được chọn sửa</h2>
<table border="1">

    <tr>
        <th>Mã thiết bị</th>
        <th>Mã căn hộ</th>
        <th>Lần thứ</th>
        <th>Ngày bảo trì</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MaThietBi
            </td>
            <td>
                @item.MaCanHo
            </td>
            <td>
                @item.LanThu
            </td>
            <td>
                @item.NgayBaoTri
            </td>
            <td>
                <a href="DeleteThietBi?MaNV=@item.MaNhanVien&LanThu=@item.LanThu">Xóa</a>
                <a href="ViewThietBi?MaNV=@item.MaNhanVien&LanThu=@item.LanThu">View</a>
            </td>

        </tr>
    }
</table>