@model List<CongNhanModel>

@{
    var thanhtien = 0;
    foreach (var item in Model) {
        thanhtien += item.dongia;
    }

}


<table border="1">

    <tr>
        <th>Mã công nhân</th>
        <th>Tên công nhân</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MaCongNhan
            </td>
            <td>
                @item.TenCongNhan
            </td>
            <td>
                <a href="XoaCN?MaCN=@item.MaCongNhan">Xóa</a>
                <a href="ViewInfoCN?MaCN=@item.MaCongNhan">View</a>
            </td>


        </tr>
    }
</table>
