<form action="/CongViec/addCV" method="post">
    Mã Công việc <input type="text" name="MACV" />
    Tên Công việc <input type="text" name="TENCV" />
    Đơn giá <input type="text" name="DONGIA" />
    <input type="submit" value="Thêm" name="submit" />
</form>